<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>New game</title>
  </head>
  <body>
    <div class="content">
      <header>
        <h1>Store Inventory</h1>
      </header>
      <%- include("./partials/sidebar.ejs") %>
      <main>
        <%- include("./partials/errors.ejs") %>
        <form action="/game/new" method="POST">
          <label for="gameName">Game title:</label>
          <input type="text" name="gameName" id="gameName" value="<%= formData ?
          formData.gameName : ""%>" required/>
          <label for="gamePrice">Price:</label>
          <input type="text" name="gamePrice" id="gamePrice" required value="<%= formData ?
          formData.gamePrice : ""%>"/>
          <label for="gameStock">Stock:</label>
          <input type="text" name="gameStock" id="gameStock" required value="<%= formData ?
          formData.gameStock : ""%>"/>
          <label for="gameImg">Image URL:</label>
          <input type="text" name="gameImg" id="gameImg" value="<%= formData ?
          formData.gameImg : ""%>"/>
          <label for="gameDescription">Description:</label>
          <textarea name="gameDescription" id="gameDescription" value="<%= formData ?
          formData.gameDescription : ""%>"></textarea>
          <legend>Categories:</legend>
          <% categoriesList.forEach((category) => {%>
          <label for="category<%= category.id %>">
            <input
              type="checkbox"
              name="gameCategories"
              id="category<%= category.id %>"
              value="<%= category.id %>"
              <%= formData && formData.gameCategories && formData.gameCategories.includes(category.id.toString()) ? 'checked' : '' %>
            />
            <%= category.name %></label
          >
          <% }) %>

          <button type="submit" class="submit-form-button">Confirm</button>
        </form>
      </main>
    </div>
  </body>
</html>
